.item
{
    float: left;
    width: 248px;
    background-color:  #428C42;
    height: 100px;
    border-right: 2px solid black;
    font-size: 90px;
    text-align: center;
}
.item:hover
{
    background-color: lightgray;    
}



#menu
{
    width: 500px;
    min-height: 100px;
    background-color: aqua;
}
.checkWork
{
    width: 50px;
    height: 20px;
    
}