body
{   /* ========================================================
 This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to */
    background-image: url(img/pow-star.png);
    font-size: 20px;
}
#container
{
    background-color: white;
    width: 1000px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
   /* -webkit-box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9); */
}

input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    
}

input[type=submit]
{
    width:300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-top: 20px;
}
input[type=submit]:hover
{
    background-color: #37b93d;
}
input[type=text]:focus,
input[type=password]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10  px 2px rgba(204,204,204,0.9);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}
input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 15px  5px rgba(204,204,204,0.9);   
    
    
    
}


input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

#list-work
{
    display: none;
}

#list-work > ol > li
{
    background-color: gray;
    border: 1px solid #22b433;
    font-size: 25px;
    letter-spacing: 2px
}





#list-work > ol > li:hover
{
    background-color: lightgray;
}




#list-work-time > ol > li
{
    background-color: gray;
    border: 1px solid #22b433;
}
#list-work-time
{
    display:none;
}
#list-statistic
{
    display: none;
}



















































