body
{   /* ========================================================
 This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to */
    background-image: url(img/pow-star.png);
    font-size: 20px;
}
#container
{
    background-color:  #64BE64;
    width: 1000px;
    height: 100%:
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 22px -1px rgba(0,0,0,0.75);
   /* -webkit-box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 5px 5px 30px 5px rgba(204,204,204,0.9); */
}
#list-work
{
    display: none;
    
}

#list-work > ol > li
{
    border: 1px solid #22b433;
    font-size: 35px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #e9f3e9;
    margin-top: 10px;
}
#list-work > ol > li:hover
{
    background-color: lightgray;
}
#list-work-time > ol > li
{
    background-color: gray;
    border: 1px solid #22b433;
}
#list-work-time
{
    display:none;
}
#list-statistic
{
    display: none;
}



















































